body {
  background: url(images/throneroom.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  #shield img {
    width: 200px;
    height: 200px;
  }
   
  #sword img {
    width: 200px;
    height: 200px;
  }

  #axe img {
    width: 200px;
    height: 200px;
  }